name: "Terraform Apply"

on:
  workflow_dispatch :
    branches:
      - main

jobs:
  terraform:
    runs-on: Ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v3 
    

  
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::038774803581:role/github.to.aws.oicd@
          aws-region: us-east-1

      
      
      - name: Install Terraform 
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: latest 

      - name: Terraform Init
        working-directory: ./Terraform
        run: terraform init

      - name: Terraform Apply
        working-directory: ./Terraform
        run: terraform apply -auto-approve