name: "Terraform Init+Plan"

on:
  workflow_dispatch :
    branches:
      - main


jobs:
  terraform:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:

      - name: Checkout
        uses: actions/checkout@v3 
    

  
      - name: Configure AWS credentials
        uses:  aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::038774803581:role/github.to.aws.oicd@
          aws-region: eu-west-2

      
      
      - name: Install Terraform 
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: latest 


      - name: Terraform Init
        working-directory: ./Terraform
        run: terraform init

      - name: Terraform validate
        working-directory: ./Terraform
        run: terraform validate

      - name: Terraform fmt
        working-directory: ./Terraform
        run: terraform fmt -check 

      
      - name: Terraform Plan
        working-directory: ./Terraform
        run: terraform plan 



      





    
      


