name: Build and Push Docker Image to ECR

on:
  workflow_dispatch :
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest


    permissions:
      id-token: write
      contents: read 

    steps:

    - name: Checkout repository
      uses: actions/checkout@v4

# Configure AWS credentials using OIDC

    - name: Configure AWS credentials using OIDC
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: arn:aws:iam::038774803581:role/github.to.aws.oicd@
        aws-region: us-east-1

## Login to ECR

    - name: Login to Amazon ECR
      id: login-ecr 
      uses: aws-actions/amazon-ecr-login@v1

#Build and push Docker image as 'latest'

    - name: Build and push Docker image to Amazon ECR
      env:
        REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        REPOSITORY: threat-composer-app
        aws-region: us-east-1
      run: |
        docker build -t $REGISTRY/$REPOSITORY:latest .
        docker push $REGISTRY/$REPOSITORY:latest

